<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Car Deleted</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Car Deleted Successfully!</h1>
    <ul style="margin-left: -20px">
      <li><strong>Make:</strong> <%= deletedCar.make %></li>
      <li><strong>Model:</strong> <%= deletedCar.model %></li>
      <li><strong>Colour:</strong> <%= deletedCar.colour %></li>
      <li><strong>Year:</strong> <%= deletedCar.year %></li>
    </ul>
    <button onclick="window.location.href='/cars/delete'">
      Back to Car List
    </button>
  </body>
</html>
